
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    margin-top: 40px;
    padding-left: 70px;
    padding-right: 70px;
}
#input {
    height: 30px;
    width: 168px;
    border-radius: 5px;
}

.submit-button {
    height: 35px;
    width: 35px;   
}

.todoTask{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: -50px;
}
.todoTask i.co{
    margin-top: 20px;
}

.todoTask p.text{
    margin-left: 10px;
    margin-right: auto;

}

.todoTask i.de{
    margin-top: 20px;
    margin-left: 80px;
}

