
body {
    background-color: honeydew;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 500px;
    transform: translate(50%);
    margin-top: 40px;
    background-color: white;
    border-radius: 15px;
    background: linear-gradient(#73b1bc,#a3d4df);  
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px rgb(192,192,192);
    background-image: url(img/wood.jpg);
    background-repeat: repeat-y;
}

.header {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 20px;
    border: 1px solid;
    width: 50%;
    height: 200px;
    border-radius: 15px;
    background-image: url("img/chalckboard.jpg");
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px rgba(97,89,87,255);
}

.header:hover{
    transform: scale(1.01);
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    /*margin-top: 100px;*/
    font-size: 40px;
    opacity: 85%;
}


#input {
    height: 40px;
    border-radius: 5px;
    border-color: grey;
    width: 50%;
    padding: 5px 30px;
    margin-top: 20px;
    font-size: 18px;

}

.submit-button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    font-size: large;
    cursor: pointer;
    float: right;
    margin-top: 15px;
 
}

.submit-button:hover {
    background-color: floralwhite;
    transform: scale(1.04);
}

.todoTask{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: -50px;
    border: 1px solid;
    border-color: grey;
    padding: 3px 50px;
    border-radius: 10px;
    background-color: white;
    margin-top: 5px;
    box-shadow: 5px 5px 5px rgba(97,89,87,255);
    
}

.todoTask:hover {
    background-color: gainsboro;
    transform: scale(1.02);
}

.todoTask i.co{
    margin-top: 24px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.todoTask p.text{
    margin-left: 10px;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    opacity: 80%;
}

.todoTask i.de{
    margin-top: 24px;
    margin-left: 80px;
    margin-right: 15px;
    font-size: 20px;
    cursor: pointer;
}

.todoTask i.de:hover{
    color: maroon;
}

#feedback {
    font-size: 20px;
    color: white;
    padding: 3px;
}

.clearButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    position: relative;
    margin-left: 800px;
    margin-top: 25px;
    height: 60px;
    width: 80px;
    border-radius: 10px;
    color: white;
    background-image: url(img/chalckboard.jpg);
    
}

.clearButton:hover {
    transform: scale(1.04);
    cursor: pointer;
}