
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.todoTask{
    display: flex;
    list-style: none;
    justify-content: center;
    margin-left: -50px;
}
.todoTask i.co{
    margin-top: 20px;
}

.todoTask p.text{
    margin-left: 10px;
    margin-right: auto;

}

.todoTask i.de{
    margin-top: 20px;
    margin-left: 80px;
}

